<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <%- include('./partials/header') %>
  <% if (locals.currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.username %></h1>
  <% } else { %>
    <h1>Not Logged In%></h1>
  <%}%>
  <% messages.forEach(message => { %>
    <div class="message">
      <p><%= message.id %></p>
      <p><%= message.username %></p>
      <p><%= message.message %></p>
      <p><%= message.timestamp %></p>
    </div>
  <% }); %>
</body>
</html>
